.footer__info{
    max-width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__list{
    list-style-type: none;
    
}
.footer__link{
    color: #fff;
    text-decoration: none;
}