* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --headerColor:rgb(31, 29, 36);
  --bodyColor: #16151A;
  --mainColor: #29335c;
  --mainColorRight: #5767aa;
  --secondaryColor: red;
  --textColor: #eee;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.App {
  background-color: var(--bodyColor);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
